<!-- Title Banner -->
<div class="about-banner">
  <div class="container">
		<div class="row">
      <h1>About</h1>
    </div>
  </div>
</div>

<!-- About Content -->
<div class="about">
	<div class="container">
		<h1>Aniyah Burke</h1>
		
		<div class="row">
			<div class="col-md-4">
				<img src="aniyahInMotion/app/assets/images/peace.png" height="480" width="319" class="img-responsive">
			</div>
			<div class="col-md-8">
				<div class="par-right">
					<p>Aniyah Burke (AKA Aniyahlator) is a young entrepreneurial leader on a mission.  She is the co-owner of Aniyah In Motion, a motivational coaching, commercials and clothing business which she started at age 9.  The focus is to motivate and coach and speak to young leaders to pursue their passion and their dreams.  She's a public speaker who teaches young entrepreneur's about the business, soccer seminars  and a bootcamp for parents and children on character, respect and values.  She designs sporting and motivational T-shirts that all ages can wear.</p>

					<p>Aniyah Burke is an unusual young lady.  Not because she can’t be put in a box, but because she annihilates the box altogether.  With a deep love for people and an unshakable faith, she lights up a room with her effervescent presence and contagious energy.</p>

					<p>Her enthusiasm bubbles close to the surface and is evidenced by her passion for purpose-filled living.  She easily sees potential in others and loves the challenge of drawing it to the surface and helping cultivate it.  This girl has a date with destiny, and she’s taking you along for the ride!</p>
				</div>
			</div>
		</div>

		<p>Well-liked and respected by her peers, she has a way of connecting effortlessly with young and old alike, and is simply the joy of her parents’ lives.  A hard-working Honor Roll student, this unforgettable 6th grader is passionate about basketball, soccer, drums, singing, and bright colors.</p>

		<p>For some people, leadership and entrepreneurial spirit come as naturally as breathing.  Aniyah Burke is one of those people.  With maturity and vision beyond her years, this delightful young lady is blazing a trail that few 12 year olds do.
		</p>

	</div>
</div>

