<!-- Title Banner -->
<div class="services-banner">
  <div class="container">
		<div class="row">
      <h1>Services</h1>
    </div>
  </div>
</div>

<div class="services">

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img src="aniyahInMotion/app/assets/images/taxi.png" height="638" width="436">
				</div>
				<div class="col-md-6">
					<div class="par-right">
						<h1>Speaker</h1>
						<p>Aniyah Burke quickly earned a reputation for being one of the youngest leading tween motivational speakers. Having a love for people and unshakable faith, her effervescent presence and contagious energy lights up a room. Her enthusiasm bubbles close to the surface and it's evident by her passion for purpose-filled living. She enjoys speaking positive messages on motivation, family values, character, and career goals to the youth. Aniyah is starting a character boot camp that she would like to take to the nations schools and churches. She proves through her own personal story of triumph, that young people can accomplish great things by simply making the right choices. As a youth speaker, she specializes in high school and middle school assemblies. For those interested in booking Aniyah for a youth conference or school assembly, visit her contact page to learn more.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1>Coach</h1>
					<p>Aniyah Burke, AKA the Aniyahlator in the sports arena, is very athletic and has a heart for sports. Soccer, basketball, softball; You name it - she loves it. Her youth coaching is designed to encourage personal development for young people, while providing an outlet for their stresses and anxieties. </p>
					<p>Passionate about helping young people develop life skills, she teaches them the fundamentals of the game. If you want to know more about how to get the Aniyahlator to teach your child, please use the contact page. She would love to hear from you.</p>
				</div>
				<div class="col-md-4">
					<img src="aniyahInMotion/app/assets/images/soccer.png" height="480" width="480">
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img src="aniyahInMotion/app/assets/images/park_bench.png" height="480" width="480">
				</div>
				<div class="col-md-6">
					<div class="par-right">
						<h1>Bootcamp</h1>
						<p>Coming Soon!</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
