/* Banner */
.products-banner {
  text-align: center;
  height: 180px;
  background-color: #804380;
  padding-top: 0px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.products-banner h1 {
  font-size: 120px;
}

.products h1 {
	text-align: center;
}